.navbar {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    padding: 0 8 0;
}

.nav-link:hover {
    background-color: #dfa579;
}

body {
    background-image: url('/source/img/background1.jpg');
    background-position: center;
    background-size: cover;
}
