.navbar {
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
    padding: 0 8 0;
}

.nav-link:hover {
    background-color: #dfa579;
}

body {
    background-image: url("https://i.pinimg.com/originals/81/e7/ac/81e7ace02e64c3bdb985924fdfe3ad15.jpg");
    background-position: center;
    background-size: cover;
}
